<div ng-controller='poolDetailController as pooldetail'>
		
	<h1>Pool #{{pooldetail.poolDetail.pool_info.id}}</h1>
	<h2>Enter your stake</h2>
	
	<div ng-repeat="stake in pooldetail.stakeValues">
	<label>
		<input type="radio"
		   ng-model = "pooldetail.selectedStake"
		   name = "selectedStake"
		   value="{{stake}}">{{stake}}
	</label>
	</div>
	
	<p><strong>Your stake:</strong> {{ pooldetail.selectedStake }}</p>
	<p><strong>Total number of lines:</strong> {{ pooldetail.getLines() }}</p>
	<p><strong>Total bet:</strong> £{{ pooldetail.getLines() * pooldetail.selectedStake }}</p>
	
	<div ng-repeat="leg in pooldetail.poolDetail.legs">
		<p><strong>{{leg.sport_event.name}}</strong></p>
		<div ng-repeat="selection in leg.selections">
			<label>
				<input type="checkbox"
				  	   ng-model="pooldetail.selected.legs[leg.id].selections[selection.id]">
					   {{selection.name}}
			</label>
		</div>
	</div>
	
	<button ng-click="pooldetail.submitBet()">Submit Bet</button>
	
	<h4>Bets</h4>
	<p>{{pooldetail.selected}}</p>
</div>