body {
	margin: 40px auto;
	max-width: 700px;
	line-height: 1.5;
	color: #333;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
	line-height: 1.2;
	color: #222;
}

pool {
	color: #44d;
}